table{
	display: flex;
	flex-direction: column;
	background-color: #efdecd;
}
body{
	background-image: url(Capture3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
table{
	padding-bottom: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 20px;
	border-collapse: collapse;
}
.ee{
	padding-top: 50px;
	padding-left: 40px;
	padding-right: 40px;
	display: flex;
	justify-content: center;
	text-align: center;
	display: block;
}
th, td{
	padding-top: 30px;
	padding-bottom: 30px;
}
